<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
        VIBRATE wird vom Klick-Feedback benoetigt. Es ist eine "normal"
        permission und erzeugt daher keinen Laufzeit-Dialog.
    -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!--
        INTERNET und ACCESS_NETWORK_STATE werden ab dem Billing-/Analytics-
        Schritt gebraucht. Sie stehen bereits hier, weil ein spaeteres
        Nachziehen einen erneuten Store-Review der Berechtigungen ausloest.
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".PokelikeApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pokelike.Starting"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Pokelike.Starting"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientation"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
